:root{
    --primary:#151515;
    --bg: #000000;
    --text:#0A2647;
    --dua:#D8D8D8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}



.Container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/heh.jpg);
    background-size: cover;
    background-position: center;
}

.bungkus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99999;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 110px;
    background-color: var(--primary);
    box-shadow: 0 7px 15px 0 var(--dua);
}

.first{
    height: 50px;
  width: 50px;
}

.second{
    color: var(--dua);
    font-weight: 700;

}

.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
}

.nav-content > li{
    list-style-type: none;
    padding: 15px;
}

.nav-content>li>img{
    width: 50px;
    height: 50px;
}

.nav-content > li > a{
    color: aliceblue;
    font-size: 20px;
}

.kotak{
    background-color: #0A2647;
    color:#CCD5AE;
    padding: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
}
    
.konten{
   color: aliceblue;
   text-align: center;
   margin:auto;
   margin-top: 8%;
   padding: 10px;
   font-size: 40px;
   align-items: center;
   font-family: 'poppins',sans-serif;
}

.kolom{
    flex: 33.33%;
    padding: 20px;
}

.row{
display: flex;
}
    
.footer{
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99999;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 110px;
    background-color: var(--primary);
    box-shadow: 0 0px 15px 0 var(--dua);
    
  
}

.center{
    display: block;
    margin: 0 auto;
}